/* 
=====================================================================
      Quick and Dirty Prinzimaker's Link Shortener
      Written By Aldo Prinzi 2024/2025 
=====================================================================
This web app needs just Apache, PHP (7.4->8.3) and MySQL to work.
---------------------------------------------------------------------
This file contains the cascadind stylesheet for the web app
-
v1.4.1 - Aldo Prinzi - 07 Mar 2025
=====================================================================
*/
:root {
    --mainbg: #113445;
    --btnbg: #cb7a1c;
    --primary: #227093;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;
    --theme: var(--primary);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
}
.header {
    background: var(--mainbg);
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    border-bottom: solid 1px silver;
    margin-bottom:20px;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
}
.title_header    {
    padding: 0 0 5px 20px;
    font-size: 0.9em;
    font-style: oblique;
}
.footer {
    background: var(--mainbg);
    color: #eaff8b;
    text-align: center;
    padding: 20px;
    border-top: solid 1px silver;
}
.footer div {
    padding-top: 5px;
}
.footer .link{
    color: #fff;
    text-decoration: none;
}
.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height:500px;
}
th{
    background: var(--mainbg);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px silver;
}
.bigtitle,
.bigsubtitle {
    font-size: 2.0em;
    color: #033a74;
    margin-bottom: 20px;
    text-align: center;
}
.bigsubtitle{
    font-size: 0.7em;
}
.langLbl {
    color: #fff;
    font-size: 1.1em;
    margin-right: 10px;
}
.langSbm {
    background: #fff;
    color: var(--mainbg);
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}
main {
    margin: 20px 0;
}
main h2 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #00356e;
}
main p {
    margin-bottom: 20px;
}
p.pad {
    padding-left: 15px;
}
.nav-row {
    display: flex;
    margin-bottom: 20px;
    padding-left:30px
}
.nav-item,
.nav-item-doc {
    display: inline-block;
    margin-right: 10px;
    color:#fff;
    text-decoration:none
}
.nav-item-doc {
    color:yellow;
    font-size:0.8em;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px #333;
    border-right: solid 1px #333;
}
.btn-small{
    max-height:32px;
    font-size: .8em;
    padding: 4px 8px;
}
.btn-primary {
    background-color: var(--mainbg);
}

.btn-secondary {
    background-color: #1a821f; 
}

.btn-warning {
    background-color: var(--btnbg); 
}
.list {
    padding: 15px 0 0 30px;
    list-style-type: none;
}
.list li {
    padding-bottom: 5px;
}
.center-content {
    text-align: center;
}
.center-content-vertical {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center;     /* Centra verticalmente */
}
.input-text2,
.input-text {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom:5px;
}
.input-text2 {
    width: 90%;
    padding: 6px 10px;
    border-top: none;
    border-radius: 5px;
    border: 2px solid #bbb;
    border-top:none;
    margin-bottom:14px;
    background-color: #fafafa;
    margin-top:-4px
}
.input-text2:focus,
.input-text:focus {
    border-color: #66afe9;
    outline: none;
    background-color: white;
}
.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}
label {
    font-size: 1.1em;
    padding-right: 10px;
}
.alert {
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert .icon {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}
.alert .close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}
.iconbtn {
    width: 58px;
    height: 58px;
}
.icontd {
    text-align: center;
    vertical-align: middle;
}
input[type="radio"].styled-radio {
    display: none;
}
input[type="radio"].styled-radio + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
input[type="radio"].styled-radio + label::before {
    padding-top:5px;
    padding-left:3px;
    font-size: 22px;
    font-weight:800;
    content: "^";
    color: #333;
}
input[type="radio"].styled-radio:checked + label::before {
    padding-left:4px;
    font-size: 15px;
    font-weight:600;
    content: "X";
    color: #fff;
}
input[type="radio"].styled-radio:checked + label {
    background-color: #007BFF;
    border-color: #0056b3;
    text-align: center;
}
.tdsep{
  border-right: 1px solid #ccc;
}
.tdcont{
  padding: 5px;
}
.data-div,
.auth-div{
    text-align: center;
    background-color: #f8f8f8;
    min-width:290px;
    max-width:400px;    
    padding:10px;
    margin:10px;
    border: 3px solid #f6f6f6;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}
.data-div 
{
    min-width:400px;
    min-width:600px;    
}
.auth-form{
    padding:10px;
    margin:10px;
}
.err-message{
    background-color: #ff0000;
    color:#fff;
    font-size: 1.2em;
    margin-top: 5px;
}
.forgotpass:hover{
    color:#111;
    font-weight:700;
    font-size: 0.90em;
}
.forgotpass{
    padding-bottom:10px;
    margin-top:-10px;
    font-size: 0.95em;
    color:  var(--primary);
    text-decoration: none;
    cursor: pointer;
}
.login-header{
    background: var(--primary);
    color: #fff;
    padding: 10px;
    text-align: center;
}
.userTabLinks{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.dataTable {
    padding-top: 10px;
    padding-bottom: 10px;
}
/*MODAL*/
.modal{z-index: 500;width:500px;height:400px;display: flex;background-color: #fff;padding: 3px;position: fixed;top:0;bottom:0;left:0;right:0;margin: auto;box-shadow:2px 3px 5px #444;border-radius:10px;animation: blowUp 0.2s ease-out forwards;}
@keyframes blowUp {0% {transform: scale(0); opacity: 0;}100% {transform: scale(1); opacity: 1;}}
.modal-content {width:96%;height: 80%;position: absolute;top: 10%;overflow: auto;padding: 30px 15px 15px 15px;}
.modal-footer { border-radius:0 0 10px 10px;text-align: center;line-height: 60px;height: 60px;width:100%;position: absolute;left: 0;bottom: 0; background-color: #f0f0f0;padding-top: 10px;}
.modal-header {border-radius:10px 10px 0 0;text-align: center;line-height: 50px;background-color:rgb(17, 46, 94);color: white;position: absolute;height: 50px;left:0;top:0;width: 100%;}
.hidden{display:none;}
.modal-closer {float:right;margin-right: 7px;margin-top: -5px;cursor: pointer;font-size: 2em;animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;}
.modalBackdrop{z-index: 398;position:fixed;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0,0,0,0.4);}
/* ACCORDION */
.accordion {overflow: hidden; color: var(--theme); border: 2px solid; border-radius: 0.5rem; overflow: hidden;}
.tab {border-bottom: 1px solid #ddd; position: relative;}
.tab:last-child {border-bottom: none;}
.tab__label,.tab__close {display: flex;color: white;background: var(--theme);cursor: pointer;}
.tab__label {justify-content: space-between;padding: 1rem;}
.tab__label::after {content: "\276F";width: 1em;height: 1em;text-align: center;transform: rotate(90deg);transition: all 0.35s;}
.tab input {display: none;position: absolute;opacity: 0;z-index: -1;}
.tab input:checked + .tab__label::after {transform: rotate(270deg);}
.tab input:checked ~ .tab__content {max-height: 10rem;padding: 15px;}
.tab__close {justify-content: flex-end; padding: 0.5rem 1rem; font-size: 0.75rem;}
.tab__content {max-height: 0;overflow-y: auto;transition: max-height 0.3s ease;background: #f9f9f9;padding: 0 15px;}
.tab__content p {margin: 0;padding: 1rem;}
.accordion--radio {--theme: var(--secondary);}
.tab input:not(:checked) + .tab__label:hover::after {animation: bounce .5s infinite;}
@keyframes bounce {25% {transform: rotate(90deg) translate(.25rem);}  75% {transform: rotate(90deg) translate(-.25rem);}}
/* 404 page not found */
.center-xy404 {top: 50%; left: 50%; transform: translate(-50%,-50%); position: absolute;}
.html404, .body404 {font-family: 'Roboto Mono', monospace; font-size: 16px;}
.html404 {box-sizing: border-box; user-select: none;}
.body404 {background-color: #184f68;}
.container404 {width: 100%;}
.copy-container404 {text-align: center;}
.p404 {color: #fff;font-size: 24px;letter-spacing: .2px;margin: 0;}
