/* 
=====================================================================
      Quick and Dirty Prinzimaker's Link Shortener
      Written By Aldo Prinzi 2024/2025 
=====================================================================
This web app needs just Apache, PHP (74->8.3) and MySQL to work.
---------------------------------------------------------------------
This file contains the cascadind stylesheet for the web app
-
v1.3.1 - Aldo Prinzi - 13 Feb 2025
=====================================================================
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
:root {
    --mainbg: #0800A0;
    --btnbg: #cb7a1c;

    --primary: #227093;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79;

    --theme: var(--primary);
}

th{
    background: var(--mainbg);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px silver;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height:500px;
}

.header {
    background: var(--mainbg);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: solid 1px silver;
    margin-bottom:20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.title_header    {
    font-size: 0.9em;
    font-style: oblique;
}

.langLbl {
    color: #fff;
    font-size: 1.1em;
    margin-right: 10px;
}
.langSbm {
    background: #fff;
    color: var(--mainbg);
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}


main {
    margin: 20px 0;
}

main h2 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #007BFF;
}

main p {
    margin-bottom: 20px;
}

p.pad {
    padding-left: 15px;
}
.nav-row {
    display: flex;
    margin-bottom: 20px;
    padding-left:30px
}
.nav-item,
.nav-item-doc {
    display: inline-block;
    margin-right: 10px;
    color:#fff;
    text-decoration:none
}
.nav-item-doc {
    color:yellow;
    font-size:0.8em;
}

.footer {
    background: var(--mainbg);
    color: #eaff8b;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: solid 1px silver;
}

.footer p {
    margin: 0;
}

.footer .link{
    color: #fff;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px #333;
    border-right: solid 1px #333;
}
.btn-small{
    max-height:32px;
    font-size: .8em;
    padding: 4px 8px;
}
.btn-primary {
    background-color: var(--mainbg);
}

.btn-secondary {
    background-color: #1a821f; 
}

.btn-warning {
    background-color: var(--btnbg); 
}

.center-content {
    text-align: center;
}

.center-content-vertical {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center;     /* Centra verticalmente */
}
.input-text2,
.input-text {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom:5px;
}

.input-text2 {
    width: 90%;
    padding: 6px 10px;
    border-top: none;
    border-radius: 5px;
    border: 2px solid #bbb;
    border-top:none;
    margin-bottom:14px;
    background-color: #fafafa;
    margin-top:-4px
}

.input-text2:focus,
.input-text:focus {
    border-color: #66afe9;
    outline: none;
    background-color: white;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    padding-right: 10px;
}

.alert {
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert .icon {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}

.alert .close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}
.tdsep{
  border-right: 1px solid #ccc;
}
.tdcont{
  padding: 5px;
}

.auth-div{
    text-align: center;
    background-color: #f8f8f8;
    min-width:290px;
    max-width:400px;    
    padding:10px;
    margin:10px;
    border: 3px solid #f6f6f6;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}
.auth-form{
    padding:10px;
    margin:10px;
}
.err-message{
    background-color: #ff0000;
    color:#fff;
    font-size: 1.2em;
    margin-top: 5px;
}
.forgotpass:hover{
    color:#111;
    font-weight:700;
    font-size: 0.90em;
}
.forgotpass{
    padding-bottom:10px;
    margin-top:-10px;
    font-size: 0.95em;
    color:  var(--primary);
    text-decoration: none;
    cursor: pointer;
}
.login-header{
    background: var(--primary);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.userTabLinks{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.dataTable {
    padding-top: 10px;
    padding-bottom: 10px;
}


  /* ACCORDION */
  .tab {
    position: relative;
  }
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    max-height: 0;
    overflow: auto;
    transition: all 0.35s;
  }
  .tab input:checked ~ .tab__content {
    max-height: 10rem;
  }
  .accordion {
    color: var(--theme);
    border: 2px solid;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .tab__label,
  .tab__close {
    display: flex;
    color: white;
    background: var(--theme);
    cursor: pointer;
  }
  .tab__label {
    justify-content: space-between;
    padding: 1rem;
  }
  .tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
  }
  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
  }
  .tab__content p {
    margin: 0;
    padding: 1rem;
  }
  .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  .accordion--radio {
    --theme: var(--secondary);
  }
    /* Arrow animation */
  .tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
  }
    @keyframes bounce {
    25% {
      transform: rotate(90deg) translate(.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-.25rem);
    }
  }

/* 404 page not found */
.center-xy404 {top: 50%; left: 50%; transform: translate(-50%,-50%); position: absolute;}
.html404, .body404 {font-family: 'Roboto Mono', monospace; font-size: 16px;}
.html404 {box-sizing: border-box; user-select: none;}
.body404 {background-color: #184f68;}
.container404 {width: 100%;}
.copy-container404 {text-align: center;}
.p404 {color: #fff;font-size: 24px;letter-spacing: .2px;margin: 0;}
